
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');


body {
  margin: 0;
  background-color: black;
}

/* fonts */

.sty-font{
  font-family: 'Paytone One', sans-serif;
}

.code-font{
  font-family: 'Libre Barcode 128', cursive;
}

/* layout */

.content-holder{
  column-count: 3;
  column-gap: 20px;
}

.content-item{
  width: 100%;
  display: inline-block;
  margin-top:10px;
  margin-bottom:10px;
}

.custom-p{
  padding-right: 50px;
  padding-left: 50px;
}

.min-height{
  min-height: 100vh;
}

.radius-top{
  border-radius: 15px 15px 0px 0px;
}


@media screen and (max-width:600px){
 
  .content-holder{
    column-count: 2;
    column-gap: 8px;
  }
  
  .content-item{
    margin-top:4px;
    margin-bottom:4px;
  }
  
  .custom-p{
    padding-right: 10px;
    padding-left: 10px;
  }
  
}