
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');


body {
  margin: 0;
  background-color: black;
  font-family: 'Roboto';
}

/* fonts */

.sty-font{
  font-family: 'Paytone One', sans-serif;
}

.code-font{
  font-family: 'Libre Barcode 128 Text', cursive;
}

/* layout */

.content-holder{
  column-count: 4;
  column-gap: 28px;
}

.content-item{
  width: 100%;
  display: inline-block;
  margin-top:14px;
  margin-bottom:14px;
}

.custom-p{
  padding-right: 50px;
  padding-left: 50px;
}

.min-height{
  min-height: 100vh;
}

.radius-top{
  border-radius: 15px 15px 0px 0px;
}

.on-mobile{
  font-size: 16px;
}

.bg-trans{
  background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width:600px){
 
  .content-holder{
    column-count: 1;
    column-gap: 0px;
  }
  
  .content-item{
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .custom-p{
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .on-mobile{
    font-size: 12px;
  }
}